body{
    background-color: #fffa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,h3 {
    text-align: center;
}

img{
    margin-left: 20px;
    margin-top: auto;
    align-items:start;
}

button {
    justify-content: center;
    background-color: #c48d3f;
    color: #fff;
}

.button-container, .image-container {
    text-align: center;
}

div {
    justify-content: center;
    text-align: center;
}